<!DOCTYPE html>
<html>
	<head>
		<title>Asset Report</title>
	</head>
	<body>
		<a href="/dashboard">Go Back To Dashboard</a>
		{% if date %}
		<h1>Asset Report for {{ facility }} on {{ date }}</h1>
		<table style="width:75%">
			<tr>
				<th>Asset Tag</th>
				<th>Description</th>
			</tr>
		{% for asset in assets  %}
			<tr>
				<td>{{ asset[1] }}</td>
				<td>{{ asset[2] }}</td>
			</tr>
		{% endfor  %}
		</table><br>
		{% endif %}
		
		<h1>Generate Report</h1>
		<form method="post" action="/asset_report" name="asset_report" id="asset_report">
			<select name="facility">
				<option selected>All</option>
				{% for facility in facilities %}
				<option>{{ facility[0] }}</option>
				{% endfor %}
			</select><br>
			<input type="datetime-local" name="date"><br>
			<input type="submit" value="Generate Report">
		</form>
	</body>
</html>
<!DOCTYPE html>
