<!DOCTYPE html>

<html>
	<head><title>Home</title></head>
	<body>
		<h2>Hello, {{username}}</h2>
		<form action="/logout" method="post" name="logout" id="logout">
			<input type="submit" value="Logout">
		</form>
		
		<form action="/inventory" method="post" name="inventory" id="inventory">
			<h4>Inventory Check</h4>
			<b>Facility: </b>
			<select name="Facility" form="inventory">
				<option value="All">All</option>
				<option value="1">DC</option>
				<option value="2">HQ</option>
				<option value="3">MB005</option>
				<option value="4">NC</option>
				<option value="4">SPNV</option>
			</select><br>
			<b>Date:</b>
			<input type="date" name="date" value="2017-01-01">
			<input type="submit" value="Check Facility Inventory">
		</form><br>

		<hr>

		<form action="/transit" method="post" name="transit" id="transit">
			<h4>Assets In Transit</h4>
			<b>Date:</b>
			<input type="date" value="Date">
			<input type="submit" value="Check Assets In Transit">
		</form><br>
	</body>
</html>
