<!DOCTYPE html>

<html>
	<head><title>Inventory</title></head>
	<body>
		<h2>Inventory for {{facility}} at {{date}}</h2>
		<form action="/home/Tester">
		    <input type="submit" value="Go Back" />
		</form>

		<table>
			<tr>
				<th>Asset Name</th>
				<th>Facility</th>
				<th>Arrival</th>
				<th>Departure</th>
			</tr>
			{% for row in rows %}		
			<tr>
				<td>{{ row[0] }}</td>
				<td>{{ row[1] }}</td>
				<td>{{ row[2] }}</td>
				<td style="padding: 0 5px 0 5px;">{{ row[3] }}</td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>
