<html>
	<body><h2>RESTful API Page</h2>

		<form action="/rest/lost_key" method="post">
			<h3>Lost Key</h3>
			<p>
			</p>
			<input type="submit" name="submit" />
		</form>

		<hr>

		<form action="/rest/activate_user" method="post">
			<h3>Activate User</h3>
			<input type="text" name="mytext" />
			<input type="submit" name="submit" />
		</form>

		<hr>

		<form action="/rest/suspend_user" method="post">
			<h3>Suspend User</h3>
			<input type="text" name="mytext" />
			<input type="submit" name="submit" />
		</form>

		<hr>

		<form action="/rest/list_products" method="post">
			<h3>List Products</h3>
			<input type="text" name="mytext" />
			<input type="submit" name="submit" />
		</form>

		<hr>

		<form action="/rest/add_products" method="post">
			<h3>Add Products</h3>
			<input type="text" name="mytext" />
			<input type="submit" name="submit" />
		</form>

		<hr>

		<form action="/rest/add_asset" method="post">
			<h3>Add Assets</h3>
			<input type="text" name="mytext" />
			<input type="submit" name="submit" />
		</form>
	</body>
</html>
