<!DOCTYPE html>

<html>
	<body><h2>RESTful API Page</h2>

		<form action="/rest/lost_key" method="post">
			<h3>Lost Key</h3>
			<p>This is the only lost call that does not authenticate the requester and uses plaintext input and output.<br>
				<b>Response </b>-<br>
				-<b> result:</b> ‘OK’ or ‘FAIL’<br>
				-<b> key:</b> The LOST public key
			</p>
			<input type="submit" name="submit" />
		</form>

		<hr>

		<form action="/rest/activate_user" method="post">
			<h3>Activate User</h3>
			<p>Reactivates LOST access for a user or generates a new user account if needed.<br>
				<b>Request </b>-<br>
				-<b> username: </b> OSNAP username to activate<br>
				<b>Response </b>-<br>
				-<b> result:</b> ‘OK’, ‘NEW’, or ‘FAIL’
			</p>
			<input type="text" name="activate_user" />
			<input type="submit" name="submit" />
		</form>

		<hr>

		<form action="/rest/suspend_user" method="post">
			<h3>Suspend User</h3>
			<p>Revokes access for a user. If the user does not exist or access has already been revoked, this call has no effect.<br>
				<b>Request </b>-<br>
				-<b> username</b> OSNAP username to revoke<br>
				<b>Response </b>-<br>
				-<b> result:</b> ‘OK’<br>
			</p>
			<input type="text" name="mytext" />
			<input type="submit" name="submit" />
		</form>

		<hr>

		<form action="/rest/list_products" method="post">
			<h3>List Products</h3>
			<p>Requests a listing of all products in LOST based on a filter criteria. Additional filters may be provided and additional data may be returned. The requests of the minimum form documented in the example must be accepted and the produced result must have at least the structure and fields of example provided. Asset information may not be provided by this call (e.g. no returning number of assets that are of product types).<br>
				<b>Request </b>-<br>
				-<b> vendor:</b> Case insensitive string to match against vendor name <br>
				-<b> description:</b> Case insensitive string to match against product description <br>
				-<b> compartments:</b> Security tags for the asset as a json array, all tags must be matched for compartment and level.<br>
				<b>Response </b>-<br>
				-<b> listing:</b> a json list containing the product information entries
			</p>
			<input type="text" name="mytext" />
			<input type="submit" name="submit" />
		</form>

		<hr>

		<form action="/rest/add_products" method="post">
			<h3>Add Products</h3>
			<p>Adds products to LOST. Requests should be atomic (all products are added or no products are added) and attempting to add a duplicate product should cause the request to fail. A product is duplicated if at the end of the call the database would have two products with the same vendor and description.<br>
				<b>Request </b>-<br>
				-<b> new_products:</b> a json list describing the new products<br>
				<b>Response </b>-<br>
				-<b> result:</b> ‘OK’, or ‘FAIL’
			</p>
			<input type="text" name="mytext" />
			<input type="submit" name="submit" />
		</form>

		<hr>

		<form action="/rest/add_asset" method="post">
			<h3>Add Assets</h3>
			<p>Adds a new asset to LOST.<br>
			<b>Request </b>-<br>
				-<b> vendor:</b> Vendor of the product<br>
				-<b> description:</b> Description of the product<br>
				-<b> compartments:</b> Additional compartments the asset should be classified under<br>
				-<b> facility:</b> Facility code the asset is initially housed at<br>
				<b>Response </b>-<br>
				-<b> result:</b> ‘OK’, or ‘FAIL’
			</p>
			<input type="text" name="mytext" />
			<input type="submit" name="submit" />
		</form>
	</body>
</html>
