<!DOCTYPE html>

<html>
	<head><title>Transit</title></head>
	<body>
		<h2>In transit on {{date}}</h2>
		<form action="/home/Tester">
		    <input type="submit" value="Go Back" />
		</form>
		<form action="/logout">
		    <input type="submit" value="Logout" />
		</form>

		<table>
			<tr>
				<th>Asset Name</th>
				<th>To/From Location</th>
				<th>Arrives By</th>
				<th>Departed On</th>
			</tr>
			{% for row in rows %}
			<tr>
				<td>{{ row[0] }}</td>
				<td>{{ row[1] }}</td>
				<td>{{ row[2] }}</td>
				<td>{{ row[3] }}</td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>
